components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    ApiKeyQuery:
      type: apiKey
      name: api_key
      in: query
    ApiKeyHeader:
      type: apiKey
      name: api_key
      in: header
info:
  title: MultiSafepay API
  version: 1.0.0
  contact:
    name: MultiSafepay Integration Team
    url: https://www.multisafepay.com/contact
    email: integration@multisafepay.com
openapi: 3.0.0
paths:
  /orders:
    $ref: paths/orders.yaml
  '/orders/{order_id}':
    $ref: 'paths/orders@{order_id}.yaml'
  '/orders/{order_id}/files':
    $ref: 'paths/orders@{order_id}@files.yaml'
  '/orders/{order_id}/refunds':
    $ref: 'paths/orders@{order_id}@refunds.yaml'
  /accounts:
    $ref: paths/accounts.yaml
  '/accounts/{account_id}':
    $ref: 'paths/accounts@{account_id}.yaml'
  '/accounts/{account_id}/balances':
    $ref: 'paths/accounts@{account_id}@balances.yaml'
  '/accounts/{account_id}/bank-accounts':
    $ref: 'paths/accounts@{account_id}@bank-accounts.yaml'
  '/accounts/{account_id}/charges':
    $ref: 'paths/accounts@{account_id}@charges.yaml'
  '/accounts/{account_id}/payouts':
    $ref: 'paths/accounts@{account_id}@payouts.yaml'
  '/accounts/{account_id}/sites':
    $ref: 'paths/accounts@{account_id}@sites.yaml'
  '/accounts/{account_id}/ubos':
    $ref: 'paths/accounts@{account_id}@ubos.yaml'
  '/bank-accounts/{bankaccount_id}':
    $ref: 'paths/bank-accounts@{bankaccount_id}.yaml'
  '/bank-accounts/{bankaccount_id}/bank-statements':
    $ref: 'paths/bank-accounts@{bankaccount_id}@bank-statements.yaml'
  '/bank-accounts/{bankaccount_id}/payment-links':
    $ref: 'paths/bank-accounts@{bankaccount_id}@payment-links.yaml'
  '/bank-statements/{bankstatement_id}':
    $ref: 'paths/bank-statements@{bankstatement_id}.yaml'
  /categories:
    $ref: 'paths/categories.yaml'
  /customers:
    $ref: paths/customers.yaml
  '/customers/{customer_id}':
    $ref: 'paths/customers@{customer_id}.yaml'
  '/customers/{customer_id}/delivery-details':
    $ref: 'paths/customers@{customer_id}@delivery-details.yaml'
  '/customers/{customer_id}/payment-methods':
    $ref: 'paths/customers@{customer_id}@payment-methods.yaml'
  '/delivery-details/{delivery_details_id}':
    $ref: 'paths/delivery-details@{delivery_details_id}.yaml'
  '/identitydocs/{identitydoc_id}':
    $ref: 'paths/identitydocs@{identitydoc_id}.yaml'
  /gateways/{id}:
    $ref: paths/gateways@{gateway_id}.yaml
  /issuers/{gateway}:
    $ref: paths/issuers@{gateway}.yaml
  /gateways:
    $ref: paths/gateways.yaml
  /me:
    $ref: paths/me.yaml
  /pad/ccs:
    $ref: paths/pad@ccs.yaml
  '/pad/orders/{order_id}':
    $ref: 'paths/pad@orders@{order_id}.yaml'
  /payment-methods:
    $ref: paths/payment-methods.yaml
  '/payment-methods/{payment_method_id}':
    $ref: 'paths/payment-methods@{payment_method_id}.yaml'
  /recurring/{your_customer_reference}:
    $ref: 'paths/recurring@{your_customer_reference}.yaml'
  '/recurring/{your_customer_reference}/token/{your_token}':
    $ref: 'paths/recurring@{your_customer_reference}@token@{your_token}.yaml'
  /signup-account:
    $ref: paths/signup-account.yaml
  '/sites/{site_id}':
    $ref: 'paths/sites@{site_id}.yaml'
  /transactions:
    $ref: paths/transactions.yaml
  '/ubos/{ubo_id}':
    $ref: 'paths/ubos@{ubo_id}.yaml'
  '/ubos/{ubo_id}/identitydocs':
    $ref: 'paths/ubos@{ubo_id}@identitydocs.yaml'
tags:
  - name: Payments
    description: "Create and manage payments"
  - name: Customers
    description: "Create and manage customers"
  - name: Accounts
    description: "Create and manage affiliated accounts"
  - name: Recurring payments
    description: "Manage tokens"
  - name: Reconciliation
    description: "List transactions"
  - name: Pay after delivery (BETA)
    description: "Request customer credit scores, track collecting statuses"
security:
  - ApiKeyQuery: ['c2e8507e3bb11df070f6c45d36ea2a366eaecea2']
servers:
  - url: 'https://testapi.multisafepay.com/v1/json'
    description: Test environment
  - url: 'https://api.multisafepay.com/v1/json'
    description: Production environment
